@media only screen and (min-width: 415px) {
    .inidividual-leaderboard {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        justify-content: space-around;
    }

    .inidividual-leaderboard .fab {
        position: sticky;
        bottom: 5rem;
        align-self: flex-end;
        margin: 0 0 1rem 1rem;
    }
}
