.card {
    display: grid;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 6px;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: .3s;
    padding: 1rem;

    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.card p {
    color: var(--white-middle-emphasis);
}

.card h3 {
    margin: 0;
    color: var(--white-high-emphasis);
}

.card:hover {
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
    background: rgba(255, 255, 255, 0.07);
    transform: scale(1.02);
    border: 1px solid rgba(255, 255, 255, 0.33);
}

.card:active {
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: rgba(255, 255, 255, 0.04);
    color: var(--white-middle-emphasis);
    transform: unset;
    border: 1px solid rgba(255, 255, 255, 0.09);
}

.card.individual {
    box-shadow: unset;
    transform: unset;
}

.card.individual:hover {
    box-shadow: unset;
    background-color: rgba(255, 255, 255, 0.05);
    transform: unset;
    border: 1px solid rgba(255, 255, 255, 0.18);
}


/* by Chris Sev https://codepen.io/chris__sev/pen/mdrzYQE */
.card.loading {
    height: 100px;
    background-color: #231C36;
    background: linear-gradient(110deg, #2E2740 8%, #464056 18%, #2E2740 33%);
    background-size: 200% 100%;
    animation: 2s shine linear infinite;
    box-shadow: unset;
    border: 1px solid rgba(255, 255, 255, 0.09);
}

@keyframes shine {
    to {
        background-position-x: -200%;
    }
}