.test1 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10rem
}

.home-parent {
    height: 300vh;
    grid-auto-flow: row;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem 0;
    grid-template-areas: "introduction-1""introduction-2""introduction-3"
}

#introduction-1 {
    grid-area: introduction-1
}

#introduction-2 {
    grid-area: introduction-2
}

#introduction-3 {
    grid-area: introduction-3
}

.home-parent img {
    max-width: 100%
}

.home-parent article {
    align-self: center
}

@supports(padding:max(0px)) {
    .bottom-nav {
        padding-bottom: max(.25rem, env(safe-area-inset-bottom))
    }
}

@media only screen and (min-width:769px) {

    #introduction-1,
    #introduction-2,
    #introduction-3 {
        align-items: center;
        display: grid;
        gap: 0 1rem;
        grid-auto-flow: row;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
    }

    #introduction-1 {
        grid-template-areas: "image1 text1";
    }

    #image1 {
        grid-area: image1
    }

    #text1 {
        grid-area: text1
    }

    #introduction-2 {
        grid-template-areas: "text2 image2";
    }

    #image2 {
        grid-area: image2
    }

    #text2 {
        grid-area: text2
    }

    #introduction-3 {
        grid-template-areas: "image3 text3";
    }

    #image3 {
        grid-area: image3
    }

    #text3 {
        grid-area: text3
    }
}