* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.bottom-nav {
    align-items: stretch;
    background-color: #3b3a3f;
    bottom: 0;
    column-gap: 8px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 56px;
    justify-items: stretch;
    padding: 4px 1rem;
    position: fixed;
    width: 100vw;
}

.bn-tab {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    max-width: 100%;
}

.bn-a {
    text-decoration: none;
}

.bn-tab>p {
    color: var(--primary-color-lightest);
    font-size: 12px;
    font-weight: 700;
    padding: 0 auto;
}

.active {
    background-color: var(--primary-color-lightest);
    border-radius: 6px;
    color: var(--primary-color-darkest);
}

.active p {
    color: var(--primary-color-darkest);
}

@media only screen and (min-width: 769px) {
    .bottom-nav {
        background-color: #3b3a3f;
        display: flex;
        flex-direction: column;
        height: 100vh;
        padding: .5rem;
        position: fixed;
        top: 0;
        max-width: 10rem;
        gap: 1rem;
        justify-content: space-between;
    }

    .bottom-nav > div {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    .bn-a {
        text-decoration: none;
        padding: .5rem 1rem;
    }

    .bn-tab {
        align-items: center;
        display: flex;
        flex-direction: row;
        height: 100%;
        justify-content: left;
        max-width: 100%;
        gap: .5rem;
    }
  }