body {
    background-image: var(--main-background);
    background-repeat: no-repeat;
    min-height: 100vh;
}

main {
    margin: 1rem;
    max-width: 936px;
    min-height: 100vh;
}

/* For desktop */
@media only screen and (min-width: 769px) {
    @supports(padding: max(0px)) {
        main, footer {
            padding-right: max(1rem, env(safe-area-inset-right));
            padding: 0 max(1rem, env(safe-area-inset-right)) 0 1rem;
        }
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto minmax(0, 1fr);
    }

    main {
        margin: 1rem auto;
    }
}