@font-face {
    font-family: "Open Sans";
    src:
        local("OpenSans-Bold"),
        local("Open Sans Bold"),
        url("../assets/OpenSans-Bold-subset.woff2");
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    src:
        local("OpenSans-Regular"),
        local("Open Sans Regular"),
        local("Open Sans") url("../assets/OpenSans-Regular-subset.woff2");
    font-weight: 400;
    font-display: swap;
}

/* Typography */
html {
    font-size: 16px;
    line-height: 21px;
}

body,
.article,
p {
    color: var(--white-high-emphasis);
    font: 1rem/1.3125rem Arial, sans-serif;

    /* margin: auto; */
}

h1,
h2,
h3,
h4,
h5,
legend {
    font-family: "Open Sans", Arial, sans-serif;
    margin-top: 1.3125rem;
    text-transform: capitalize;
}

h1,
h2,
h3,
legend {
    font-weight: 700;
}

h2,
h3,
.large-label,
legend {
    line-height: 2.625rem;
}

h3,
h4,
h5,
legend {
    margin-bottom: 0;
}

h4,
h5 {
    font-size: 1rem;
    line-height: 1.3125rem;
}

h1 {
    /* font-size: 2.8125rem; */
    font-size: clamp(2.2rem, .5rem + 10vw, 2.8125rem);

    /* usikker på den her */
    line-height: 3.9375rem;
}

h2,
.large-label {
    font-size: 2rem;
    margin-bottom: 1.3125rem;
}

h3,
legend {
    font-size: 1.4375rem;
}

h5 {
    margin-top: 1.3125rem;
}

th {
    font: 700 1.125rem "Open Sans", Arial, sans-serif;
    text-transform: capitalize;
}

.subtitle {
    color: var(--white-middle-emphasis);
    font: 700 1.125rem "Open Sans", Arial, sans-serif;
    text-transform: uppercase;
}

.breadcrumb-item {
    text-decoration: none;
    line-height: 1.125rem;
    padding: 4px 16px;
}

a,
.breadcrumb-item:hover {
    text-decoration: underline;
    color: var(--primary-color-lightest);
}

.button-label,
label {
    font-weight: 700;
    text-transform: capitalize;
}

label {
    display: block;
}
