input[type="date"]::-webkit-calendar-picker-indicator {
    padding-left: 25%;
    background: transparent;
    color: white;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    padding-left: 25%;
    background: transparent;
    color: white;
}