footer {
    background-color: var(--footer);
    padding: 1rem; /* Denne ødelegger for Safari 15 */
    height: auto;
}

footer h3 {
    margin: 0;
}

footer section {
    display: flex;
    margin: 4rem 0;
}

footer article {
    margin: 2rem 0;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.logo-arrow {
    align-items: center;
    justify-content: space-between;
}

.footer-logo {
    width: 163px;
    height: 30px;
}

.footer-button {
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

.created {
    flex-direction: column;
}

footer article a,
.middle-emphasis {
    margin: .5rem 0;
    text-decoration: none;
    color: var(--white-middle-emphasis)
}