.table-board {
    width: 100%;
    border: 1px solid var(--default-stroke);
    margin: 1rem 0;
    border-radius: 6px;
}

.table-board thead {
    background-color: rgb(255 255 255 / .16);
}

.table-board tbody tr {
    height: 2rem;
}

.table-board tbody tr td,
.table-board thead tr th {
    height: 2rem;
    padding: 0 .5rem;
}

.table-board thead tr:last-child th:first-child {
    /* border: 1px solid orange; */
    border-top-left-radius: 6px;
}

.table-board tr:last-child td:first-child {
    /* border: 1px solid orange; */
    border-bottom-left-radius: 6px;
}

.table-board thead tr:last-child th:last-child {
    /* border: 1px solid green; */
    border-top-right-radius: 6px;
}

.table-board tr:last-child td:last-child {
    /* border: 1px solid green; */
    border-bottom-right-radius: 6px;
}

.table-board tbody tr:nth-child(odd) {
    background-color: rgb(255 255 255 / .07);
}

.table-board tbody tr:nth-child(even) {
    background-color: rgb(255 255 255 / .05);
}

.table-board tbody tr:nth-child(1) {
    background: rgb(212 175 55 / .2);
}

.table-board tbody tr:nth-child(2) {
    background: rgb(170 169 173 / .2);
}

.table-board tbody tr:nth-child(3) {
    background: rgb(205 127 50 / .2);
}
