p.login {
    margin-bottom: 1rem;
}

fieldset {
    margin: 2rem 0;
}

label {
    font-size: 2rem;
}

input{
    display: block;
    width: 100%;
    background-color: var(--elevation10);
    color: var(--white-high-emphasis);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 6px;
    height: 44px;
    margin-bottom: 1rem;
    padding: 4px
}

button {
    display: flex;
    height: 48px;
    width: 100%;
    background: var(--button);
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: none;
    border-radius: 6px;
    color: var(--button-label);
}

.showPassword {
    position: relative;
    top: -3rem;
    right: -90%;
}