p.login {
    margin-bottom: 1rem;
}

input {
    display: block;
    width: 100%;
    height: 44px;
    padding: 4px;
    border: 1px solid rgb(255 255 255 / .18);
    margin-bottom: 1rem;
    background-color: var(--elevation10);
    border-radius: 6px;
    color: var(--white-high-emphasis);
}

input.error {
    border-color: var(--destructive-color);
}

.show-password {
    position: relative;
    top: -3rem;
    right: -90%;
}
