.main-manage article {
    margin: 2rem 0;
}

.main-manage article h2 {
    margin-bottom: 1rem;
}

.main-manage article h3 {
    margin-top: 0;
}

.main-manage article > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

/* for desktop */
@media only screen and (min-width: 769px) {
    .main-manage article > div {
        flex-direction: unset;
        gap: 1rem;
        max-width: 38rem;
    }
}
