/* COLORS */
:root {
    --primary-color-lightest: #BEAFD0;
    --primary-color-light: #7F619C;
    --primary-color: #482776;
    --primary-color-dark: #372557;
    --primary-color-darkest: #231C36;

    --footer: #262430;

    --destructive-color: #ED8594;
    --destructive-gradient: linear-gradient(180deg, #CF6679 0%, #BA5C6D 100%);
    --destructive-gradient-hover: linear-gradient(180deg, #A65261 0%, #914755 100%);
    --destructive-gradient-clicked: linear-gradient(180deg, #A65261 0%, #914755 100%);

    --button: linear-gradient(180deg, #BEAFD0 0%, #AB9EBB 100%);
    --button-hover: linear-gradient(180deg, #7F619C 0%, #72578C 100%);

    --elevation1: #16141A;
    --elevation2: rgba(22, 20, 26, 0.05);
    --elevation3: rgba(22, 20, 26, 0.07);
    --elevation4: rgba(22, 20, 26, 0.08);
    --elevation5: rgba(22, 20, 26, 0.09);
    --elevation6: rgba(22, 20, 26, 0.11);
    --elevation7: rgba(22, 20, 26, 0.12);
    --elevation8: rgba(22, 20, 26, 0.13);
    --elevation9: rgba(22, 20, 26, 0.15);
    --elevation10: rgba(22, 20, 26, 0.16);


    --white-middle-emphasis: rgba(255, 255, 255, 0.6);
    --white-high-emphasis: rgba(255, 255, 255, 0.87);
    --white: #FFF;
    --default-stroke: rgba(255, 255, 255, 0.18);
    --black: #000;
    --text-disabled-white: rgba(255, 255, 255, 0.47);
    --button-label: rgba(0, 0, 0, 0.7);
    /* fungerer kanskje ikke på alle knapper tihi */
    --main-background: linear-gradient(180deg, var(--primary-color-darkest) 0%, var(--elevation1) 100%);
}