.banner {
    width: 100%;
    padding: .5rem;
    background-color: rgb(255 255 255 / .16); /* ENDRE DENNE IKKE FERDIG WIP */
}

.banner .buttons {
    display: flex;
    gap: 1rem;
}

/* For desktop */
@media only screen and (min-width: 769px) {
    .banner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
    }
}
